[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
invoke = "*"
livereload = "*"

[dev-packages]

[scripts]
dev = "invoke livereload"
publish = "pelican --settings publishconf.py --delete-output-directory"
test = "printenv"