{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}Tous | {{ super() }} {% endblock title %}


{% block content %}

<table cellspacing="0" class="w-100 js-sort-table">
    <thead class="d-thg-l dn">
        <th class="tl pb3 pl3 pr3-l pointer">Titre</th>
        <th class="tl pb3 pr3 pr4-l pointer">Année de sortie</th>
        <th class="tl pb3 pr3 pointer">Réalisateur/trice(s)</th>
        <th class="tl pb3 pr3 pointer">Appréciation</th>
    </thead>
    <tbody class="f5 f4-ns">
    {% for movie in DATA_FILMS_DONE.entries | sort(attribute="title") %}
        <tr class="db dt-row-l bn-l pa3 pv0-l bt b--black-90 bg-animate hover-bg-dim">
            <td class="db dtc-l pv1 pl3-l pv3-l pr3-l bn bt-l b--black-10 lh-copy">{{ macros.title(movie=movie) }}</td>
            <td class="dib dtc-l pv1 pv3-l pr4-l bn bt-l b--black-10">{{ movie.year | default("??") }}</td>
            <td class="di dtc-l pv1 pv3-l pr3-l bn bt-l b--black-10"><span class="dn-l">&mdash; </span>{{ movie.authors | join(", ") }}</td>

            {% if movie.rating is defined %}
                {% set html = macros.rating(movie.rating) %}
                {% set value = movie.rating / 2  %}
                {% set value = value ~ "/5" %}
            {% else %}
                {% set html = "🤷‍♂️" %}
                {% set value = "¯\_(ツ)_/¯" %}
            {% endif %}

            <td class="db dtc-l pt1 pb1 pv3-l pr3-l bn bt-l b--black-10" title="{{ value }}" data-sort-value='{{ movie.rating | default("")}}'>
                {{ html | safe }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

