{% import "macros.html" as macros %}
{% extends "layout.html" %}

{%- macro display_year(current_year, movie_year) -%}
    {%- if movie_year not in [current_year, current_year + 1, current_year - 1] %}
        ({{ movie_year | default("??") }})
    {%- endif -%}
{%- endmacro -%}

{% block menu %}{{ macros.menu("journal") }}{% endblock menu %}

{% block content %}
{% for year, items in DATA_FILMS_DONE.entries | groupby_year %}
    {% if year < 2013 %}
        {% continue %}
    {% endif %}
    <h2 class="dib bg-near-black washed-red pv1 ph2 f3 ml3 mv0">{{ year }}</h2>
    <ul class="list lh-copy ml3-ns pl3 flex flex-row flex-wrap f5 f4-ns">
            {% for movie in items %}
                <li class="pb3 dib pr3 pb4 w-33-l w-50-m w-100">
                    <div class="ttu fw6" style="letter-spacing: 1px;">{{ macros.title(movie, false) }}
                        <span class="pb1 f5 normal">
                            <span class="o-50">(</span>{{ movie.year }}<span class="o-50">)</span>
                        </span>
                    </div>
                    <div style="font-size: 18px;" ><span class="">de </span>{{ movie.authors | join(", ") }}</div>


                    {% if movie.rating is defined %}
                    {% set html = macros.rating(movie.rating) %}
                    {% set value = movie.rating / 2  %}
                    {% set value = value ~ "/5" %}
                    {% else %}
                    {% set html = "¯\_(ツ)_/¯" %}
                    {% set value = "¯\_(ツ)_/¯" %}
                    {% endif %}

                    <div><span class="sr-only">Note : </span>{{ html }}</div>
                </li>

            {% endfor %}
    </ul>
    {% endfor %}
{% endblock content %}
