{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block description %}{{ super() }} Ici sont consignés tous ses coups de cœur filmiques.{% endblock description %}

{% block title %}Coups de cœur filmiques {{ super() }}{% endblock title %}

{% block menu %}{{ macros.menu("love") }}{% endblock menu %}

{% block content %}
    <div class="mw9 ml-auto mr-auto pt5 pa3">
        <h1 class="dib mv0 washed-red bg-near-black pa2 f1-ns">Coups de cœur filmiques</h1>
        <div></div>

        <div class="lh-copy f5 mw7 bb bw1">
            <span class="dib f6 ttu tracked fw7 mt2 mb3 washed-red bg-near-black pv1 ph2">Auteur : {{ AUTHOR }}</span>
            <p>Ici se côtoient chefs d'oeuvre et plaisir coupables.</p>
        </div>
        {{ macros.original_titles() }}
    </div>

    <table cellspacing="0" class="w-100 js-sort-table">
        <thead class="d-thg-l dn">
            <th scope="col" class="bb b--near-black tl pb3 pl3 pr3-l pointer">Titre</th>
            <th scope="col" class="bb b--near-black tl pb3 pr3 pr4-l pointer">Année de sortie</th>
            <th scope="col" class="bb b--near-black tl pb3 pr3 pointer">Réalisateur/trice(s)</th>
            <th scope="col" class="bb b--near-black tl pb3 pr3 pointer">Genre</th>
        </thead>
        <tbody class="f5 f4-ns">
        {% for movie in DATA_JOURNAL.entries | unique(attribute="id") | list | sort(attribute="title") %}
            {% set height_not_favorite = movie.rating | default(0) == 8 and movie.favorite == false %}
            {% set seven_or_less = 8 > movie.rating | default(0) %}

            {% if height_not_favorite or seven_or_less %}
                {% continue %}
            {% endif %}

            <tr class="db dt-row-l bn-l pa3 pv0-l bt b--black-10 bg-animate hover-bg-dim js-expandables" data-movie-id="{{ movie.id }}">
                <td class="dib dtc-l pl3-l pv3-l pr3-l bn bt-l b--black-10 lh-copy b normal-l ttu ttn-l tracked tracked-normal-ns">{{ macros.title(movie, False) }}</td>
                <td class="db dtc-l pv3-l pr4-l bn bt-l b--black-10">{{ movie.year | default("??") }}</td>
                <td class="db dtc-l pv3-l pr3-l bn bt-l b--black-10">{{ movie.authors | join(", ") }}</td>
                <td class="db dtc-l pv3-l pr3-l bn bt-l b--black-10">{{ movie.genres[0] }} </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
