{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block description %}{{ super() }} Ici sont consignés tous ses coups de cœur filmiques.{% endblock description %}

{% block title %}Coups de cœur filmiques {{ super() }}{% endblock title %}
{% block h1 %}Coups de cœur filmiques{% endblock h1 %}

{% block menu %}{{ macros.menu("love") }}{% endblock menu %}

{% block header %}
<div class="lh-copy f5 mw7 bb b--black-10">
    <span class="dib f6 ttu tracked fw7 mt2 mb3 washed-red bg-near-black pv1 ph2">Auteur : {{ AUTHOR }}</span>
    <p>Ici se côtoient chefs d'oeuvre et plaisir coupables.</p>
</div>
{% endblock header %}

{% block content %}
    <table cellspacing="0" class="w-100 js-sort-table">
        <thead class="d-thg-l dn">
            <th scope="col" class="tl pb3 pl3 pr3-l pointer">Titre</th>
            <th scope="col" class="tl pb3 pr3 pr4-l pointer">Année de sortie</th>
            <th scope="col" class="tl pb3 pr3 pointer">Réalisateur/trice(s)</th>
        </thead>
        <tbody class="f5 f4-ns">
        {% for movie in DATA_JOURNAL.entries | unique(attribute="id") | list | sort(attribute="title") %}
            {% set seven_favorite = movie.rating | default(0) == 7 and movie.favorite == false %}
            {% set height_favorite = movie.rating | default(0) == 8 and movie.favorite == false %}
            {% set height_plus = 7 > movie.rating | default(0) %}

            {% if seven_favorite or height_favorite or height_plus %}
                {% continue %}
            {% endif %}

            {% if movie.id in DATA_ADDITIONALS %}
            <tr class="db dt-row-l bn-l pa3 pv0-l bt b--black-90 bg-animate hover-bg-dim js-expandables pointer" data-movie-id="{{ movie.id }}">
            {% else %}
            <tr class="db dt-row-l bn-l pa3 pv0-l bt b--black-90 bg-animate hover-bg-dim js-expandables" data-movie-id="{{ movie.id }}">
            {% endif %}
                <td class="db dtc-l pv1 pl3-l pv3-l pr3-l bn bt-l b--black-10 lh-copy">{{ macros.title(movie, movie.id in DATA_ADDITIONALS) }}</td>
                <td class="dib dtc-l pv1 pv3-l pr4-l bn bt-l b--black-10">{{ movie.year | default("??") }}</td>
                <td class="di dtc-l pv1 pv3-l pr3-l bn bt-l b--black-10"><span class="dn-l">&mdash; </span>{{ movie.authors | join(", ") }}</td>
            </tr>

            {% if movie.id in DATA_ADDITIONALS %}
                {{ macros.review(movie=DATA_ADDITIONALS[movie.id], id=movie.id)}}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
