{%- macro rating(r) -%}
    {% for i in range(1, r, 2) %}
        <svg class="near-black v-mid" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><path d="M0,0h24v24H0V0z" fill="none"/><path d="M0,0h24v24H0V0z" fill="none"/></g><g><path d="M12,17.27L18.18,21l-1.64-7.03L22,9.24l-7.19-0.61L12,2L9.19,8.63L2,9.24l5.46,4.73L5.82,21L12,17.27z"/></g></svg>
    {% endfor %}

    {% if r is odd %}
        <svg class="near-black v-mid" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"/><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></svg>
    {% endif %}

    {% for i in range(1, 10 - r, 2) %}
        <svg class="near-black v-mid" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></svg>
    {% endfor %}
{%- endmacro -%}

{%- macro title(movie, has_review) -%}
    {%- if movie.original_title is defined -%}
        <span class="js-title" title="{{ movie.title }}">{{ movie.title | truncate(length=50) }}</span><span class="js-original-title dn" title="{{ movie.original_title }}">{{ movie.original_title | truncate(length=50) }}</span>
    {%- else -%}
        <span title="{{ movie.title }}">{{ movie.title | truncate(length=50) }}</span>
    {%- endif -%}
    {%- if has_review -%}
        <button class="ml2 dib ph2 pt1 f5 fw6 ba b--black-70 lh-copy pointer b--dashed black-70 grow button-reset bg-inherit"><span style="top:2px">📝</span> Mon avis</span>
    {%- endif -%}
{%- endmacro -%}

{% macro review(movie, id) %}
    <tr class="bn-l pa3 pv0-l bt js-review dn" data-expands-for="{{ id }}">
        {% set path = id + ".jpg" %}
        <td colspan="1" class="db dtc-l pv1 pv3-l ph3-l">
            <img src="/images/{{ path }}"/></td>
        <th colspan="2" class="db dtc-l pv1 pv3-l bn v-top f5 f4-ns lh-copy fw4 tl">
            <h3 class="f5 fw6 lh-title mt0 mb2">Genre<span class="sans-serif">&thinsp;</span>:</h3>
            <div class="mw7">{{ movie.genres | join(", ") }}</div>
            <h3 class="f5 fw6 lh-title mt4 mb2">Mon commentaire<span class="sans-serif">&thinsp;</span>:</h3>
            <div class="mw7"><p class="mt0"><span class="black-50">«</span>&nbsp;{{ movie.review | safe }}&nbsp;<span class="black-50">»</span></p></div>
            
            <a class="f5 link dim ba b--dotted bw1 ph3 pv2 mb2 dib black mt3" href="{{ movie.wikipedia }}">Wikipédia</a>
        </td>
    </tr>
{% endmacro %}


{% macro menu(current_page) %}
<div id="menu" class="flex flex-row-ns flex-column pt2 pb3 mt3 bb b--black-10 mw7 bt">
    <ul class="list fw6 pl0 ma0 lh-title w-50-ns">
        <li class="mr3 mt1"><a class="near-black link dim {% if current_page == 'journal' %} i {% endif %}" href="/">Journal</a></li>
        <li class="mr3 mt1"><a class="near-black link dim {% if current_page == 'love' %} i {% endif %}" href="/love">Coups de coeur</a></li>
        <li class="mr3 mt1"><a class="near-black link dim {% if current_page == 'cinema' %} i {% endif %}" href="/cinema">Vus au cinéma</a></li>
    </ul>

    <ul class="list fw6 pl0 ma0 lh-title">
        <li class="mr3 mt1"><a class="near-black link dim {% if current_page == 'wish' %} i {% endif %}" href="/wish">Envies</a></li>
        <li class="mr3 mt1"><a class="near-black link dim {% if current_page == 'all' %} i {% endif %}" href="/all">Tous les films</a></li>
        <!-- <li><a class="near-black link dim" href="/">Statistiques</a></li> -->
    </ul>
</div>
{% endmacro %}