{% import "macros.html" as macros %}
{% extends "index.html" %}

{% block title %} {{ section.title }} | {{ super() }} {% endblock title %}

{% block content %}
    {% set data = load_data(url="https://raw.githubusercontent.com/mlcdf/films/backup/vu-au-cinema.json", format="json") %}

    <div class="pb5 mb3">
        <div class="bb b--black-10 mr4 measure w-100 lh-copy">
            <div class="f-subheadline fw6 mb1 lh-solid">{{ data.entries | length }}</div>
            <p class="mt0 fw6">{{ section.content | striptags }}</p>
        </div>
        <label class="dib pointer pt2 pb2"><input class="mt3 js-show-french-title" type="checkbox" checked> Titres en <span role="img" aria-label="français">🇫🇷</span></label>
        <div class="measure-narrow lh-copy">
            Du plus récent au plus ancien
        </div>
    </div>

    <table cellspacing="0" class="w-100 js-sort-table">
        <thead class="d-thg-l dn">
            <th class="pb3 pr3 pointer">Titre</th>
            <th class="pb3 pr3 pointer">Année</th>
            <th class="pb3 pr3 pointer">Réalisateur/trice(s)</th>
            <th class="pb3 pr3 pointer">Appréciation</th>
            <th class="pb3 pr3 pointer"></th>
        </thead>
        <tbody>
        {% for movie in data.entries | reverse %}
            <tr class="db dt-row-l bn-l pv3 pv0-l bt b--black-90">
                <td class="db dtc-l pv1 pv3-l pr3 bn bt-l b--black-10 f5 f4-ns lh-copy">{{ macros::title(movie=movie) }}</td>
                <td class="db dtc-l pv1 pv3-l pr5 bn bt-l b--black-10 f5 f4-ns">{{ movie.year }}</td>
                <td class="db dtc-l pv1 pv3-l pr3 bn bt-l b--black-10 f5 f4-ns">{{ movie.authors | join(sep=", ") }}</td>
                <td class="db dtc-l pv1 pv3-l pr3 bn bt-l b--black-10 f5 f4-ns" data-rating='{{ movie.rating | default(value="")}}'>{{ macros::rating(rating=movie.rating) }}</td>
                {% set x = movie.comment | default(value="") | split(pat=" ") %}
                <td class="db dtc-l pv1 pv3-l pr3 bn bt-l b--black-10 f5 f4-ns">
                    {% if x[0] | trim != "" %}
                        <div class="dib ph2 br2 ba b--dark-red dark-red" title="vu {{ x[0] | replace(from="x", to="") }} fois au cinéma">{{ x[0] | trim }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
