{% import "macros.html" as macros %}
{% extends "index.html" %}

{% block title %} {{ section.title }} | {{ super() }} {% endblock title %}

{% block content %}
    <div class="pb5 measure lh-copy">
        {{ section.content | safe }}
    </div>

    {% set data = load_data(url="https://raw.githubusercontent.com/mlcdf/films/backup/vu-au-cinema.json", format="json") %}
    <table cellspacing="0" class="w-100">
        <thead>
            <th class="pb3 pr3">Titre</th>
            <th class="pb3 pr3">Année</th>
            <th class="pb3 pr3">Réalisateurice(s)</th>
            <th class="pb3 pr3">Note</th>
            <th class="pb3 pr3"></th>
        </thead>
        <tbody>
        {% for movie in data.entries | reverse %}
            <tr>
                <td class="pv3 pr3 bt b--black-10 f4">{{ macros::title(movie=movie) }}</td>
                <td class="pv3 pr3 bt b--black-10 f4">{{ movie.year }}</td>
                <td class="pv3 pr3 bt b--black-10 f4">{{ movie.authors | join(sep=", ") }}</td>
                <td class="pv3 pr3 bt b--black-10 f4">{{ macros::rating(rating=movie.rating) }}</td>
                {% set x = movie.comment | default(value="") | split(pat=" ") %}
                <td class="pv3 pr3 bt b--black-10 f4">
                    {% if x[0] | trim != "" %}
                        <div class="dib ph2 br2 ba b--dark-red dark-red">{{ x[0] | trim }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
