{% import "macros.html" as macros %}
{% extends "index.html" %}

{% block title %} {{ section.title }} | {{ super() }} {% endblock title %}

{% block content %}
    {% set data = load_data(url="https://raw.githubusercontent.com/mlcdf/films/backup/vu-au-cinema.json", format="json") %}

    <div class="pb5 mb3 flex w-100 justify-center">
        <div class="bt pt3 mr4 bw1 measure-narrow w-100 lh-copy">
            <div class="f-subheadline fw6 mb1 lh-solid">{{ data.entries | length }}</div>
            <p class="mt0 fw6">{{ section.content | striptags }}</p>
        </div>
        <div class="bt pt3 ml4 bw1 measure-narrow w-100 lh-copy fw6">
            Dans l'ordre du plus récent au plus ancien.
        </div>
    </div>

    <table cellspacing="0" class="w-100">
        <thead>
            <th class="pb3 pr3">Titre</th>
            <th class="pb3 pr3">Année</th>
            <th class="pb3 pr3">Réalisateur/trice(s)</th>
            <th class="pb3 pr3">Appréciation</th>
            <th class="pb3 pr3"></th>
        </thead>
        <tbody>
        {% for movie in data.entries | reverse %}
            <tr>
                <td class="pv3 pr3 bt b--black-10 f4">{{ macros::title(movie=movie) }}</td>
                <td class="pv3 pr5 bt b--black-10 f4">{{ movie.year }}</td>
                <td class="pv3 pr3 bt b--black-10 f4">{{ movie.authors | join(sep=", ") }}</td>
                <td class="pv3 pr3 bt b--black-10 f4">{{ macros::rating(rating=movie.rating) }}</td>
                {% set x = movie.comment | default(value="") | split(pat=" ") %}
                <td class="pv3 pr3 bt b--black-10 f4">
                    {% if x[0] | trim != "" %}
                        <div class="dib ph2 br2 ba b--dark-red dark-red" title="vu {{ x[0] | replace(from="x", to="") }} fois au cinéma">{{ x[0] | trim }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
