{% import "macros.html" as macros %}
{% extends "index.html" %}

{% block title %} {{ section.title }} | {{ super() }} {% endblock title %}
{% block content %}

{% set data = load_data(url="https://raw.githubusercontent.com/mlcdf/sc-backup/backup/mlcdf/films-done.json", format="json") %}
    <table>
        <thead>
            <th>Titre</th>
            <th>Année</th>
            <th>Réalisateurice(s)</th>
        </thead>
        <tbody>
        {% for entrie in data.entries | filter(attribute="rating") | sort(attribute="rating") | reverse %}
            {% if entrie.rating < 8 or entrie.rating == 8 and not entrie.favorite %}
                {% continue %}
            {% endif %}
            <tr>
                <td>{{ entrie.title }}</td>
                <td>{{ entrie.year | default(value="??") }}</td>
                <td>{{ entrie.authors | join(sep=", ") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
