{% import "macros.html" as macros %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
    <title>{% block title %}{{ config.title }} &mdash; {{ config.extra.author}}{% endblock title %}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <style>
        body {
            margin: 0rem;
            padding: 1rem;
            font-family:
                "Fira Code",
                Menlo, Monaco, /* MacOS */
                'Segoe UI Mono, Lucida Console', /* Windows */
                'Fira Mono', /* Firefox OS */
                'Roboto Mono', 'Noto Mono', /* Google stuff */
                'Droid Sans Mono', /* Old Google stuff */
                'Ubuntu Mono', 'DejaVu Sans Mono', 'Liberation Mono', /* Linux */
                'Courier New', /* MacOS and Windows */
                monospace; /* Everything else */
        }

        th {
            text-align: left;
        }
    </style>
</head>
<body class="bg-washed-red near-black relative h-100 pa0">
    {% block header %}
    <header class="pb5 flex justify-start justify-between-l flex-column flex-row-l pt3 ph3">
        <div class="pb3 pb0-l">
            <a class="dib near-black link" href="/"><h1 class="db f5 ma0 ba b--dashed bw1 pa2 dim">films.mlcdf.fr</h1></a>
            {% set info = get_section(path="info/_index.md") %}
            <a href="{{ info.permalink }}" class="ml3 dib dim near-black link">{{ info.title }}</a>
        </div>
        <nav class="db">
            {% set all = get_section(path="_index.md") %}
            <a href="{{ all.permalink }}" class="dib pa2 mb3 mb0-ns ba br-50 link bw1 near-black dim">{{ all.title | replace(from="🗒", to=" <span aria-hidden='true'>🗒</span>") | safe }}</a>

            {% set cinema = get_section(path="cinema/_index.md") %}
            <a href="{{ cinema.permalink }}" class="dib pa2 mb3 mb0-ns ba br-50 link bw1 near-black dim">{{ cinema.title | replace(from="​📽️", to=" <span aria-hidden='true'>​📽️</span>") | safe}}</a>

            {% set top10 = get_section(path="10/_index.md") %}
            <a href="{{ top10.permalink }}" class="dib pa2 mb3 mb0-ns ba br-50 link bw1 near-black dim">{{ top10.title | replace(from="🥇", to=" <span aria-hidden='true'>🥇</span>") | safe }}</a>
        </nav>
    </header>
    {% endblock header %}

    <main class="ph3">
        {% block content %}

        {% set data = load_data(url="https://raw.githubusercontent.com/mlcdf/films/backup/mlcdf/films-done.json", format="json") %}

        <div class="pb5 mb3">
            <div class="bb b--black-10 mr4 measure w-100 lh-copy">
                <div class="f-subheadline fw6 mb1 lh-solid">{{ data.entries | length }}</div>
                <p class="mt0 fw6">Films vus</p>
            </div>
            <label class="dib pointer pt2 pb2"><input class="mt3 js-show-french-title" type="checkbox" checked> Titres en <span role="img" aria-label="français">🇫🇷</span></label>
        </div>

        <table cellspacing="0" class="w-100">
            <thead>
                <th class="pb3 pr3">Titre</th>
                <th class="pb3 pr3">Année</th>
                <th class="pb3 pr3">Réalisateur/trice(s)</th>
                <th class="pb3 pr3">Appréciation</th>
            </thead>
            <tbody>
            {% for movie in data.entries | sort(attribute="title") %}
                <tr>
                    <td class="pv3 pr3 bt b--black-10 f4 lh-copy">{{ macros::title(movie=movie) }}</td>
                    <td class="pv3 pr5 bt b--black-10 f4">{{ movie.year | default(value="??") }}</td>
                    <td class="pv3 pr3 bt b--black-10 f4">{{ movie.authors | join(sep=", ") }}</td>
                    <td class="pv3 pr3 bt b--black-10 f4">
                        {% if movie.rating is defined %}
                            {{ macros::rating(rating=movie.rating) }}
                        {% else %}
                            🤷‍♂️
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endblock content %}
    </main>
    <script>
        const showFrenchTitle = document.querySelector(".js-show-french-title");

        showFrenchTitle.addEventListener("click", function(event) {

            if (showFrenchTitle.checked) {
                showOriginalTitle();
            } else {
                showTitle();
            }

            function showOriginalTitle() {
                document.querySelectorAll(".js-original-title").forEach(function(el) {
                    el.style.display = "none"
                });

                document.querySelectorAll(".js-title").forEach(function(el) {
                    el.style.display = "inline"
                });
            }

            function showTitle() {
                document.querySelectorAll(".js-original-title").forEach(function(el) {
                    el.style.display = "inline"
                });

                document.querySelectorAll(".js-title").forEach(function(el) {
                    el.style.display = "none"
                });
            }
        })

    </script>

</body>
</html>
